<style>
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    #wrapper {
        width: 60%;
        margin: 0 auto;
    }

    /**
    *  Some base code to make this pen a bit swagger!
    **/
    @-webkit-keyframes bounceInDown {
        0%, 100%, 60%, 75%, 90% {
            -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
            transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0)
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0)
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0)
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0)
        }

        100% {
            -webkit-transform: none;
            transform: none
        }
    }

    @keyframes bounceInDown {
        0%, 100%, 60%, 75%, 90% {
            -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
            transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0)
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0)
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0)
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0)
        }

        100% {
            -webkit-transform: none;
            transform: none
        }
    }

    #title {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
    }

    h1 {
        margin: 30px 0 0 0;
        text-align: center;
        font-size: 30px;
        color: #34495e;
    }

    h2 {
        margin: 5px 0 30px 0;

        text-align: center;
        font-size: 14px;
        font-style: italic;
        font-weight: lighter;
        color: #34495e;
    }

    /**
    * Here is the part that interest us!
    * This part is about collapsing divs,
    * it uses :target css3 selector as a trigger.
    *
    * Using the :target selector allow your users
    * to bookmark the page with the correct section displayed!
    * That's simply the best UX you can provide!
    **/
    .collapse-title {
        display: block;
        margin: 0 0 10px 0;
        padding: 10px 15px;

        background-color: #34495e;
        color: #fff;

        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: all .3s ease-in-out;

        z-index: 9999;
    }

    .collapse-title:hover,
    .collapse-title:focus {
        background-color: #2c3e50;
        outline: none;
    }

    .collapse {
        max-height: 0;
        width: calc(100% - 20px);
        margin: 10px auto;

        transform: scaleY(0);
        transform-origin: top;

        opacity: 0;
        text-align: justify;
    }

    .collapse:target {
        max-height: inherit;

        transform: scaleY(1);
        transition: all .3s ease-in-out;

        opacity: 1;
    }
</style>
<div id="wrapper">
    <div id="title">
        <h1>bluIp</h1>
        <h2>broadsoft api doc</h2>
    </div>

    <a href="http://127.0.0.1:5000/swagger/deprecated" class="collapse-title">Deprecated</a>
    <a href="http://127.0.0.1:5000/swagger/deprecated24-as" class="collapse-title">Deprecated24 As</a>
    <a href="http://127.0.0.1:5000/swagger/enterprise" class="collapse-title">Enterprise</a>
    <a href="http://127.0.0.1:5000/swagger/group" class="collapse-title">Group</a>
    <a href="http://127.0.0.1:5000/swagger/user" class="collapse-title">User</a>
    <a href="http://127.0.0.1:5000/swagger/login" class="collapse-title">Login</a>
    <a href="http://127.0.0.1:5000/swagger/deprecated-as.json" class="collapse-title">Deprecated As</a>
    <a href="http://127.0.0.1:5000/swagger/reseller.json" class="collapse-title">Reseller</a>
    <a href="http://127.0.0.1:5000/swagger/system.json" class="collapse-title">System</a>
</div>